{% extends 'baseback.html.twig' %}

 {% block css  %}


     <link rel="stylesheet"  href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}">
     <link rel="stylesheet"  href="{{ asset('assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
     <link rel="stylesheet"  href="{{ asset('assets/vendor/animate/animate.css') }}">
     <link rel="stylesheet"  href="{{ asset('assets/vendor/select2/select2.min.css') }}">
     <link rel="stylesheet"  href="{{ asset('assets/vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
     <link rel="stylesheet"  href="{{ asset('assets/css/buttons.scss') }}">


 {% endblock %}

{%  block body  %}
    <body>
    <div id="page-content">
        <div class="row justify-content-center" >
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Liste des reclamations</h2>
            </div>
        </div>

        <center>
            <input id="myInput" type="text" placeholder="Search..">
            <br><br>
        </center>

        <form role="search" id="nav-search-form" action="{{ path('sortrec') }}">
            <div class="btn-toolbar" role="toolbar" aria-label="Programmatic control">
                <div class="btn-group btn-group-sm" aria-label="Set Select2 option">
                    <button class="js-programmatic-set-val btn btn-outline-primary mr-1 mb-1">
                       Sort
                    </button>
                </div>
            </div>
        </form>

        <div class="limiter">
            <div class="container-table100">
                <div class="table-responsive">
                    <div class="table100">
                        <table class="table  table-bordered table-striped table-hover">
                            <thead class="table-dark">
                            <tr class="table100-head">
                                <th class="column1">IDReclamation</th>
                                <th class="column2">Description</th>
                                <th class="column3">Date</th>
                                <th class="column4">Type</th>
                                <th class="column5">Etat</th>
                                <th class="column6">Email</th>
                                <th class="column7">Username</th>
                                <th class="column8">Actions</th>
                            </tr>
                            </thead>
                                <tbody id="myTable">
                                <tr class="alert" role="alert">
                                    {% for r in reclamations %}
                            <tbody id="myTable">
                            <td class="column1">{{ r.IdReclam }}</td>
                            <td class="column2">{{ r.descriptionR }}</td>
                            <td class="column3">{{ r.dateR|date }}</td>
                            <td class="column4">{{ r.type }}</td>
                            <td class="column5">{{ r.etatR }}</td>
                            <td class="column6">{{ r.email }}</td>
                            <td class="column7">{{ r.IdUser.username }}</td>
                            <td class="column8">
                                <button class="js-programmatic-set-val btn btn-outline-primary mr-1 mb-1"> <a class="fa fa-edit" href="{{ path('updatereclamation',{'id':r.IdReclam})  }}">Modify</a></button>
                                <button class="js-programmatic-set-val btn btn-outline-primary mr-1 mb-1" > <a class="fa fa-trash" href="{{ path('deletereclamation',{'id':r.IdReclam})  }}">Delete</a></button>
                            </td>
                            </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>


{% endblock %}



