{% extends 'baseback.html.twig' %}

 {% block css  %}


     <link rel="stylesheet"  href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}">
     <link rel="stylesheet"  href="{{ asset('assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
     <link rel="stylesheet"  href="{{ asset('assets/vendor/animate/animate.css') }}">
     <link rel="stylesheet"  href="{{ asset('assets/vendor/select2/select2.min.css') }}">
     <link rel="stylesheet"  href="{{ asset('assets/vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
     <link rel="stylesheet"  href="{{ asset('assets/css/buttons.scss') }}">


 {% endblock %}

{%  block body  %}
    <body>
    <div id="page-content">
        <!-- END Dashboard Header -->
        <!-- END Mini Top Stats Row -->
        <div class="row justify-content-center" >
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Liste des utilisateurs</h2>
            </div>
        </div>

        <center>
            <input id="myInput" type="text" placeholder="Search..">
            <br><br>
        </center>

        <form role="search" id="nav-search-form" method="" action="{{ path('listU') }}">
            <div class="btn-toolbar" role="toolbar" aria-label="Programmatic control">
                <div class="btn-group btn-group-sm" aria-label="Set Select2 option">
                    <button class="js-programmatic-set-val btn btn-outline-primary mr-1 mb-1">
                        Export PDF
                    </button>
                </div>
            </div>
        </form>

    <div class="limiter">
        <div class="container-table100">
            <div class="table-responsive">
                <div class="table100">
                    <table class="table  table-bordered table-striped table-hover">
                        <thead class="table-dark">
                        <tr class="table100-head">
                            <th class="column1">Image</th>
                            <th class="column2">Nom</th>
                            <th class="column3">Prenom</th>
                            <th class="column4">Username</th>
                            <th class="column5">DateNaissance</th>
                            <th class="column6">Sexe</th>
                            <th class="column7">Email</th>
                            <th class="column8">Tel</th>
                            <th class="column9">Adresse</th>
                            <th class="column10">IDUSER</th>
                            <th class="column11">Actions</th>
                        </tr>
                        </thead>
                        {% for u in users %}
                        <tbody id="myTable">
                        <tr class="alert" role="alert"><td class="column1"> <img src="{{ asset('uploads/' ~ u.image)}}" style="width:80px" style="height: 80px" class="img-rounded"/></td>
                            <td class="column2">{{ u.nom }}</td>
                            <td class="column3">{{ u.prenom }}</td>
                            <td class="column4">{{ u.username }}</td>
                            <td class="column5">{{ u.DateNaissance.format('Y-m-d ')}}</td>
                            <td class="column6">{{ u.sexe }}</td>
                            <td class="column7">{{ u.email }}</td>
                            <td class="column8">{{ u.tel}}</td>
                            <td class="column9">{{ u.adresse }}</td>
                            <td class="column10">{{ u.IdUser}}</td>

                                <td>
                                <button id="button" > <a class="fa fa-edit" href="{{ path('updateuser',{'id':u.IdUser})  }}">Modify</a></button>
                                <button class="js-programmatic-set-val btn btn-outline-primary mr-1 mb-1" style="width:80px" style="height: 40px" > <a class="fa fa-trash" href="{{ path('deleteuser',{'id':u.IdUser})  }}">Delete</a></button>
                                {% if (u.banned == true) %}
                                    <button class="js-programmatic-set-val btn btn-outline-primary mr-1 mb-1" style="width:80px" style="height: 40px" ><a class="fa fa-unlock" href="{{ path('unblockuser',{'id':u.IdUser})}}">Unblock</a></button>
                                {% else  %}
                                    <button class="js-programmatic-set-val btn btn-outline-primary mr-1 mb-1" style="width:80px" style="height: 40px" ><a class="fa fa-ban" href="{{ path('blockuser',{'id':u.IdUser})}}">Block</a></button>
                                {% endif %}
                                </td>
                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    </body>
    </html>
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>


{% endblock %}



