{% extends 'base.html.twig' %}

{% block body %}

    <style>
        .card {
            background-color: #15172b;
            border-radius: 20px;
            box-sizing: border-box;


            width: 320px;
        }
    </style>
    <div class="row"  >
        <div  style="display: flex;align-items: center;justify-content: center;margin-top: 200px; padding: 10px;">

            <div class="card">
                <div class="card-body">
                    <h3 class="card-header" style="background-color: #2e383c">Add Member</h3>
                    {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
                    <label for="inputText" class="col-sm-4 col-form-label" style="color: #dfe0e1">Name</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.Nom,{'attr':{'class':'form-control'}}) }}

                    </div>
                    {{ form_errors(form.Nom,{'attr':{'class':'text-danger'}}) }}



                    <label for="inputText" class="col-sm-4 col-form-label" style="color: #dfe0e1">prenom</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.Prenom,{'attr':{'class':'form-control'}}) }}

                    </div>
                    {{ form_errors(form.Prenom,{'attr':{'class':'text-danger'}}) }}

                    <label for="inputText" class="col-sm-4 col-form-label" style="color: #dfe0e1">Username</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.Username,{'attr':{'class':'form-control'}}) }}
                    </div>
                    {{ form_errors(form.Username,{'attr':{'class':'text-danger'}}) }}



                    <br/>
                    <div class="button-a" style="display: flex;align-items: center;justify-content: center">

                        {{ form_widget(form.Add,{'attr':{'class':'btn btn-primary'}}) }}
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>





{% endblock %}