{% extends 'base.html.twig' %}

{% block body %}
    <body>
    <!-- preloader start here -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- preloader ending here -->

    <!-- scrollToTop start here -->
    <a href="#" class="scrollToTop"><i class="icofont-rounded-up"></i></a>
    <!-- scrollToTop ending here -->

    <!-- ==========shape image Starts Here========== -->
    <div class="body-shape">
        <img src="assets/images/shape/body-shape.png" alt="shape">
    </div>
    <!-- ==========shape image end Here========== -->



    <!-- ===========PageHeader Section Start Here========== -->
    <section class="pageheader-section" style="background-image: url(../../public/assets/images/pageheader/bg.jpg);">
        <div class="container">
            <div class="section-wrapper text-center text-uppercase">
                <h2 class="pageheader-title">Shop Cart</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shop Cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
    <!-- ===========PageHeader Section Ends Here========== -->



    <!-- ===========Cart Section Ends Here========== -->
    <div class="shop-cart padding-top padding-bottom">
        <div class="container">
            <div class="section-wrapper">
                <div class="cart-top">
                    <table>
                        <thead>
                        <tr>
                            <th class="cat-product">Product</th>
                            <th class="cat-price">Price</th>
                            <th class="cat-quantity">Quantity</th>
                            <th class="cat-toprice">Total</th>
                            <th class="cat-edit">Edit</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set i = 0 %}
                        {% for p in panierlist %}
                            <tr>
                                <td class="product-item cat-product">
                                    <div class="p-thumb">

                                        <img src="{{ asset('productImages/' ~ produits[i].image ) }}">
                                    </div>
                                    <div class="p-content">
                                        <a href="#">{{produits[i].nomProd}}</a>
                                    </div>
                                </td>
                                <td class="cat-price">${{produits[i].prix}}</td>
                                <td class="cat-quantity">
                                    <div >
                                        <a href="{{ path('app_shop_cart_quantite_minus',{'idpanier':p.idPanier}) }}">-</a>
                                        <input class="cart-plus-minus" type="text"  value=" {{ p.quantite }}">
                                        <a href="{{ path('app_shop_cart_quantite_plus',{'idpanier':p.idPanier}) }}">+</a>
                                    </div>
                                </td>

                                <td class="cat-toprice">${{ p.totalPanier }}</td>
                                <td class="cat-edit">
                                    <a href="{{ path('deleteFunc',{'id':p.idPanier}) }}"><img src="{{ asset('productImages/del.png') }}"></a>

                                </td>
                            </tr>
                            {% set i = i+1 %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="cart-bottom">

                    <div class="shiping-box">
                        <div class="row">

                            <div class="col-md-6 col-12">
                                <div class="cart-overview">
                                    <h3>Cart Total</h3>
                                    <ul class="codex">
                                        <li>
                                            <span class="pull-left">Cart Total</span>
                                            <p class="pull-right" style="font-size: larger"><strong> $ {{ prixTotal }} </strong></p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <form class="cart-checkout" action="/" style="margin-left: 850px">

                                <button type="submit" class="default-button reverse-effect m-2"><span>Proceed to Checkout</span></button>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ===========Cart Section Ends Here========== -->




    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga = function () {
            ga.q.push(arguments)
        };
        ga.q = [];
        ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('set', 'anonymizeIp', true);
        ga('set', 'transport', 'beacon');
        ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>



    </body>

{% endblock %}
